<%= image_tag 'header.jpeg', :size => '1400x400' %>

<div id="article-list">
	<% @articles.each do |article| %>
		<div>
			<div id="article-title"><%= link_to "#{article.title}", article_path(article) %></div>
			<div id="article-created_at"><%= article.created_at %></div>	
		</div>
	<% end %>
</div>
