<div class="show-container">
	<div class="top-container">
		<div class="show-top">
			<p>
				作成日-
				<%= @article.created_at %>
			</p>
			<p>
				作成者-
				<%= @user.email %>
			</p>
		</div>
		<div class="show-title">
			タイトル-
			<%= @article.title %>
		</div>
	</div>
	<div class="foot-container">
		<div class="show-content">
			内容は
			~<span><%= @article.content %></span>~
			です。
		</div>
	</div>
</div>
