<div class="show-container">
	<div class="top-container">
		<div class="show-top">
			<p>作成日</p>
			<%= @article.created_at %>
			<p>作成者</p>
			<%= @user.email %>
		</div>
		<div class="show-title">
		</div>
	</div>
	<div class="foot-container">
		<div class="show-content">
		</div>
	</div>
</div>
